.article__wrapper {
  padding-top: 26px;
  width: 65.4%;
  max-width: 938px;
}

.article__content {
  height: 100%;
  word-wrap: break-word;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
