ul,
li {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main {
  padding-top: 26px;
  background-color: #ebeef3;
  flex: 1 1 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  &__pagination {
    display: flex;
    margin-bottom: 17px;
  }
}
