ul,
li {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main {
  padding-top: 26px;
  background-color: #ebeef3;
  flex: 1 1 100%;

  &__pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 17px;
  }
}
